<div ng-controller="GamesController">

  <super-navbar>
    <super-navbar-title>
      Games
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <h4>Doubles</h4>
    <button class="button button-full button-balanced" ng-click="startBobAnderson()">Bob's 27</button>
    <h4>Overall</h4>
    <button class="button button-full button-assertive" ng-click="startGeneralGame(501)">501</button>
    <button class="button button-full button-assertive" ng-click="startGeneralGame(301)">301</button>
    <button class="button button-full button-assertive" ng-click="startGeneralGame(101)">101</button>
  </div>
</div>