<div ng-controller="GamesController">

  <super-navbar>
    <super-navbar-title>
      Games
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div class="btn center" ng-click="startBobAnderson()">Bob's 27</div>
    <div class="btn center" ng-click="startGeneralGame(501)">501</div>
    <div class="btn center" ng-click="startGeneralGame(301)">301</div>
    <div class="btn center" ng-click="startGeneralGame(101)">101</div>
  </div>

  <div>
    <img class="background" src="/images/background_van_gerwen.png" />
  </div>
</div>