<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-button icon="/vendor/icons8/menu-32" ng-click="showDrawer()">
      Settings
    </super-navbar-button>
    <super-navbar-title>
      Home
    </super-navbar-title>
  </super-navbar>

  
  <div class="padding">
    <div class="btn center" ng-click="startNewGame()">Start new game</div>
    <div class="btn center" ng-click="showStatistics()">Statistics</div>
    <div class="btn center" ng-click="showHelp()">Help</div>
  </div>  

  <div>
    <img class="logo" src="/images/logo.png" />
  </div>
</div>