<div ng-controller="RegisterController">

  <super-navbar>
    <super-navbar-title>
      Register
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
  	<div class="list">
  		<label class="item item-input">
  			<span class="input-label">Name</span>
    		<input type="text" ng-model="name">
  		</label>
  		<label class="item item-input">
  			<span class="input-label">Email address</span>
    		<input type="text" ng-model="username">
  		</label>
  		<label class="item item-input">
	    	<span class="input-label">Password</span>
	    	<input type="password" ng-model="password">
	  	</label>
	  	<button class="button button-block button-balanced activated" ng-click="register()">Register</button>
	  	<button class="button button-block button-balanced activated" ng-click="login()">Already got an account? Login here</button>
	</div>
  </div>

</div>