<div ng-controller="StatisticsController">

  <super-navbar>
    <super-navbar-title>
      Statistics
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <button class="button button-full button-balanced" ng-click="showBobStatistics()">Bob's 27</button>
    <button class="button button-full button-assertive" ng-click="showGeneralStatistics(501)">501</button>
    <button class="button button-full button-assertive" ng-click="showGeneralStatistics(301)">301</button>
    <button class="button button-full button-assertive" ng-click="showGeneralStatistics(101)">101</button>
  </div>

</div>