<div ng-controller="StatisticsController">

  <super-navbar>
    <super-navbar-title>
      Statistics
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div class="btn center" ng-click="showBobStatistics()">Bob's 27</div>
    <div class="btn center" ng-click="showGeneralStatistics(501)">501</div>
    <div class="btn center" ng-click="showGeneralStatistics(301)">301</div>
    <div class="btn center" ng-click="showGeneralStatistics(101)">101</div>
  </div>

  <div>
    <img class="background" src="/images/phil_taylor.png" />
  </div>

</div>