<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">player_average</span>
    <input type="text" ng-model="generalgame['player_average']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">cpu_average</span>
    <input type="text" ng-model="generalgame['cpu_average']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">score_from</span>
    <input type="text" ng-model="generalgame['score_from']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">player_uuid</span>
    <input type="text" ng-model="generalgame['player_uuid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">won</span>
    <input type="text" ng-model="generalgame['won']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">number_of_darts_thrown</span>
    <input type="text" ng-model="generalgame['number_of_darts_thrown']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">creation_datetime</span>
    <input type="text" ng-model="generalgame['creation_datetime']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
