<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Generalgame Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="generalgames.length == 0">

      <super-navigate location="generalgame#show" data-params-id="{{ generalgame.id }}" ng-repeat="generalgame in generalgames">
        <li class="item item-icon-right">
          <span ng-bind="generalgame['player_average']"></span>
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="generalgames.length == 0" class="assertive padding">
      No generalgames found. Create one?
    </h4>

    <super-modal-show location="generalgame#new">
      <button class="button button-full button-positive">
        Create a new generalgame
      </button>
    </super-modal-show>
  </div>
</div>
